# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e3f881cf70955c5cb85c4e66e3573e572522f930061b94eb192ebfd4e9ee6075bf6abb6a8c4fd9e494d7463ffc9b124dd04de9c8e0664a81c2c09e8c0c3126e9

test:
  secret_key_base: b233ccdbdefcc38ecb5ba1e696d47f20868c0283a5b29239bdf96819e607d0174146a92a712b1a67db4ddfa8f7031b7ed4561d64a3474b4fcc8c283015e6ae11

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
